<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reset password</title>
	<link rel="shortcut icon" href="#" />
	<link href = "{{ url_for('static', filename = 'css/style.css')}}" rel = "stylesheet">
</head>
<body>
	<label>Please give the email you used when you created you account</label>
	<form action="" method="POST">
		{% if err == 3 %}
			This email does not match an existing account
		{% endif %}
		{% if err == 2 %}
			This field cannot be blank
		{% endif %}
		{% if err == 1 %}
			Invaild email
		{% endif %}
		{% if err == 0 %}
			An email with a reset link has been sent to you
		{% endif %}
		<br>
		<input type="email" name="email" id="email" placeholder="Email" required>
		<br>
		{% if reset == 1 and err == 5%}
		{% if err == 6 %}
			Your password has been successfully reset
		{% endif %}
		{% if err == 7 %}
			Passwords do not match
		{% endif %}
		{% if err == 8 %}
			Password does not match requirements
		{% endif %}
		<input type="password" name="newPassword" id="newPassword" placeholder="New Password" required>
		<br>
		<input type="password" name="confirmNewPassword" id="confirmNewPassword" placeholder="Confirm New Password" required>
		<br>
		{% endif %}
		<input type="submit" value="Reset">
		<br>
	</form>
</body>
</html>