<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href = "{{ url_for('static', filename = 'css/main.css')}}" rel = "stylesheet">
    <link href = "{{ url_for('static', filename = 'css/nav.css')}}" rel = "stylesheet">
    <link rel="shortcut icon" href="#" />
    <title>Admin Page</title>
</head>
<body>
	<ul class="topnav">
        <li><a href="">Admin</a></li>
        <li style="cursor: pointer;" class="right"><a href = "{{ url_for('logout') }}">Logout</a></li>
    </ul>

    <center><div class="container">
        <h1>Welcome to the Admin Page</h1>
        <h2>Blocked Users</h2>
		{% if blockedUsersArr[0] %}
            <h1>
				{% for user in blockedUsersArr %}
				<p>{{ user }}</p>
				{%endfor%}
			</h1>
        {% else %}
        <h3>There are no blocked users</h3>
        {% endif %}
    </div></center>
</body>
</html>